@model MordheimTournamentTracker.Models.AddArmyTypeView

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateArmyType</title>
    <style>
        {
            box-sizing: border-box;
        }

        .column {
            float: left;
            padding: 10px;
        }

        .navigational {
            width: 20%;
        }

        .informational {
            width: 40%;
        }

        .row::after {
            content: "";
            display: table;
            clear: both;
        }
    </style>
</head>
<body>
    <div>
        <p>Her kan du tilføje nye hære til spil</p>
        <hr />
    </div>
    <div class="column navigational">
        @Html.ActionLink("Tilbage til forsiden", "Dashboard", "Users")
    </div>
    <div class="column informational">
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Hær</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.AvailableGames, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.SelectedGame, ViewBag.games as SelectList, "Vælg Spil")
                    @Html.ValidationMessageFor(model => model.AvailableGames, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Opret" class="btn btn-default" />
                </div>
            </div>
        </div>

        }
    </div>
</body>
</html>
